html {
    box-sizing: border-box;
  }
*, *:before, *:after {
    box-sizing: inherit;
}

/* globales */

a{
    text-decoration: none;
    color: black;
}

img{
    width: 100%;
}

.contenedor{
    max-width: 1200px;
    margin: 0 auto;
}

/* Header y navegacion */

.nombre-sitio{
    margin: 50px 0;
    text-align: center;
}


.nombre-sitio span{
    color: #037bc0;
}

.contenedor-navegacion{
    border-top: #e1e1e1 solid 1px;
}

.nav-principal {
    /* border-color: #e1e1e1;
    border-top-style: solid;
    border-width: 1px; */
    padding: 20px 0px;
    display: flex;    
    justify-content: space-around;
}
.hero{
    height: 550px;
    background-image: url("../img/principal.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.listado-categorias{
    display: grid;
    /* rf -> Significa fraccion  */
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 100px 100px;
    /* propiedad para agregar separacion -> gap */
    gap: 20px;
}
