html {
    box-sizing: border-box;
  }
*, *:before, *:after {
    box-sizing: inherit;
}

/* globales */

a{
    text-decoration: none;
    color: black;
}

.contenedor{
    max-width: 1200px;
    margin: 0 auto;
}

.contenedor-navegacion{
    border-top: #e1e1e1 solid 1px;
}

.nav-principal {
    /* border-color: #e1e1e1;
    border-top-style: solid;
    border-width: 1px; */
    padding: 20px 0px;
}
.hero{
    height: 550px;
    background-image: url("../img/principal.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

/* Header and navigation */
