html {
    box-sizing: border-box;
  }
*, *:before, *:after {
    box-sizing: inherit;
}

h1 {
    font-size: 20px;
    color: black;

}
h1 span{
    color: #037bc0;
}

h2 span {
    color: green;
}

/* Box model */
.sobre-nosotros {
    background-color: red;
    width: 200px;
    padding: 25px;    
}

.sobre-empresa {
    background-color: blue;
    width: 500px;
    padding: 100px;    
}